.profile_frame{
    position: fixed;
    top: calc(100% - 540px);
    left: calc(100% - 656px);
    width: 860px;height: 720px;
    background: white;
    z-index: 100000000;
    box-shadow: 0px 0px 20px 0px black;
    pointer-events: none;
    transform: scale(0.4);
    display: none;
}