<div class="content-body">
  <h2 class="tab-heading pull-left">Admin Dashboard </h2>
  <i class="fa fa-cog pull-right pointer" id="setting"></i>
  <div class="clearfix"></div>
  <hr>
  <button class="md-button pull-left" id="btn-add-update-menu">Today's Menu </button>&nbsp;&nbsp;
  <button class="md-button" id="btn-freeze-menu">Freeze Menu </button>
  <div class="home-list">
      <h2 class="tab-heading">Users List</h2>
      <table class="table">
        <thead>
          <th>Name</th><th>Phone</th><th>Comment</th><th>Pending Amount</th>
        </thead>
        <tbody id="tbody">
    
        </tbody>
      </table>
    

  </div>

</div>