<div class="content-body">
  <h2 class="tab-heading pull-left" id="welcome-user">My Dashboard</h2>
  
  <div class="clearfix"></div>
  <hr>
  <h1 class="pull-left">Today' Menu</h1>
  <button class="md-button pull-right" id="btn-add-update-menu">Accept My Order</button>
  <button class="md-button pull-right" id="btn-cancel-menu">Cancel My Order</button>
  <div class="clearfix"></div>
  <hr>
  <div class="home-list">
    
    <div class="clearfix"></div>
    <div class="left" id="items-info">
      
    </div>

    <br>


  </div>

</div>