    
    <div class="content-body">
        <h1>Welcome to Smart Canteen</h1>
        <br>
        <form id="loginForm">
            
        <div class="form-group">
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-envelope-o"></i>
              </div>
              <input type="text" name="email" value="malikkhan@smartdatainc.net" id="email" validate-msg="Email is required" class="form-control pull-right validate" placeholder="Email">
            </div>
            <p class="error"></p>
          </div>

          <div class="form-group">
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa  fa-lock"></i>
                  </div>
                  <input type="password" name="password" value="12345678" validate-msg="Password is required" id="password" class="form-control pull-right validate" placeholder="Password">
                </div>
                <p class="error"></p>
              </div>
          <div class="">
              <div class="pull-left remember-me">
                  <label class="pointer"><input id="remember-me" type="checkbox"/> Remember me</label>
              </div>
              <div class="pull-right yellow">
                    <label class="pointer">Forgot Password?</label>
                </div>
          </div>  
          <div class="clearfix"></div>
          <br><br>
          <p class="error error-msg"></p>
          <button type="submit" class="button form-control">Login</button> <br>
        </form>
          <div class="clearfix"></div>
          <br><br> 
          <div class="text-center">
            <span>Don't have any account?</span><span class="yellow pointer register-now"> Register Now</span>
        </div>
        </div>
