<div class="content-body new-post-panel">
  <h1 id="menu-title">What yor are making in Today's Menu</h1>
  <br>
  <form id="newPostForm">
    <div class="form-group">
      <textarea type="text" required name="items" id="items" class="form-control" placeholder="Enter items"></textarea>
    </div>
    <div class="form-group">
      <input type="text" name="todaysSpecial" id="todaysSpecial" class="form-control" placeholder="Add Today's Special Item In Lunch">
    </div>
    <div class="form-group">
      <input type="number" required value="30" name="price" id="price" class="form-control" placeholder="Add price">
    </div>
    <div class="clearfix"></div>
    <br>
    <button type="submit" class="button form-control submit-button">Save Menu</button><br>
    <button type="button" class="button-black form-control" id="go-back-btn">Go Back</button> <br>
  </form>

</div>