
   
    <div class="content-body">
        <h2 class="tab-heading">Registration</h2>
        <p>Signup in smart canteen</p>
        <form id="subscriptionForm">
        <p class="heading">Profile Details.</p>
        <div class="form-group">
            <input type="text" name="name" class="form-control validate" validate-msg="Full Name is required" placeholder="Full Name">
            <p class="error"></p>
        </div>
        
        <div class="form-group">
          <input type="email" name="email" class="form-control validate" validate-msg="Email is required" placeholder="Email Address">
          <p class="error"></p>
        </div>
        <div class="form-group">
            <input type="text" name="phone" class="form-control validate" validate-msg="Phone is required" placeholder="Phone Address">
            <p class="error"></p>
          </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control validate" validate-msg="Password is required" placeholder="Password">
          <p class="error"></p>
        </div>
       
       
        <div class="clearfix"></div>
        <br/>
        <div class="">
            <button class="button form-control">Register Me</button>
        </div>
          
      </form>
        </div>
