<div class="content-body">
    <h2 class="tab-heading pull-left">My Pending Payments</h2>
    <div class="pull-right">
        <h2 id="totalAmount" class="tab-heading"></h2>
        <button class="md-button pull-right small-btn" id="btn-pending-payment">Do Payment</button>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="clearfix"></div>
    <div class="order-list">

        <div class="item-list">
            <div>
                <span>Date:</span>
                <span>Price:</span>
                <span>Status:</span>
            </div>
            <div class="clearfix"></div>
            <p>Menu:</p>
        </div>
    </div>

</div>